{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base1.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <title>base</title>
</head>

<body>
    <!-- 헤더 -->
    <header>
        <div class="header_com" id="logo"><a href="{% url 'allrecipes' %}" id="logo_a">MYFREE</a></div>
        <div class="header_com" id="profile_div" style="right: 2rem;"><a href="#"><img id="profile"
                    src="ecbdb551f2b5be72c5a087147254bc71 (1).gif"></a></div>
        <div class="header_com" id="username" style="right: 7rem;"><a href="{% url 'refrigerator' %}"
                id="username_a">{{user.username}}</a></div>
    </header>
    <!-- 왼쪽 여백 -->
    <div id="left"></div>
    {% block content %}

    {% endblock %}
    <div id="frogue-container" class="position-right-bottom" data-chatbot="2de9627c-eefd-4563-b04e-f76c5bdc2ed1"
        data-user="사용자ID" data-init-key="value"></div>
    <!-- data-init-식별키=값 으로 셋팅하면 챗플로우에 파라미터와 연동가능. 식별키는 소문자만 가능 -->
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https:\/\/danbee.ai/js/plugins/frogue-embed/frogue-embed.min.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'frogue-embed'));
    </script>
</body>

</html>